.project-item{
  width: 30%;
  height: 200px;
cursor: pointer;
  border-radius: 10px;
  font-size: 0.8em;
  margin-top: 70px;

}
.main {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 960px) {
.project-item{
  width: 45%;
}
}
@media only screen and (max-width: 768px){
  .project-item{
    width: 90%;
    height: 20%;
  }
}
