<div class="profile">
  <img style="max-height: 100%; max-width: 324px;" src="/assets/img/IMG_0533.jpg" alt="">
  <div class="information">
    <h2>I'M <span>OLEKSANDR DIDYCH</span></h2>
    <small>FRONT-END DEVELOPER</small>
    <hr>
    <b>Age</b> <span style="margin-left: 215px;">18</span><br><br>
    <b>Location</b><span style="margin-left: 180px;">Lviv, Ukraine</span><br><br>
    <b>Email</b><span style="margin-left: 200px;">lilsanya044@icloud.com</span><br><br>
    <b>Phone</b><span style="margin-left: 200px;">+380961778616</span><br><br>
    <a href="/assets/cv/MY-CV.pdf"download><button>Download CV</button></a>
  </div>

</div>

