.profile{
height: 400px;
  width: 65%;
  color: white;
  position: relative;
  z-index: 5;
  margin-left: 17%;
  margin-top: 220px;
  display: flex;
  background-color: black;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow:0px 0px 22px 24px #222222 ;
  -moz-box-shadow:0px 0px 22px 24px #222222 ;
  box-shadow:0px 0px 22px 24px #222222 ;
  border-radius: 5px;
}

.information{
   padding: 20px;

}
button{
  background-color: black;
  color: white;
  border: .5px solid white;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
    color: black;
    background-color: white;
    border: .5px solid black;
    transition: .5s;
  }
}
