.profile{
height: 400px;
  width: 65%;
  color: white;
  position: relative;
  z-index: 5;
  margin-left: 17%;
  margin-top: 220px;
  display: flex;
  background-color: black;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow:0px 0px 22px 24px #222222 ;
  -moz-box-shadow:0px 0px 22px 24px #222222 ;
  box-shadow:0px 0px 22px 24px #222222 ;
  border-radius: 5px;
}

.information{
   padding: 20px;
  max-width: 60%;
  height: 100%;

}
button{
  background-color: black;
  color: white;
  border: .5px solid white;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
    color: black;
    background-color: white;
    border: .5px solid black;
    transition: .5s;
  }
}
@media only screen and (max-width: 1200px) {
.profile{
width: 80%;
  margin-left: 10%;
}


}
@media only screen and (min-width: 768px) and (max-width: 960px){
  .profile{
    width: 100%;
    margin-left: 0;

  }
}
@media only screen and (max-width: 767px){

  .profile{
    height: 200px;
    min-width: 100%;
    margin: auto;


    box-shadow: none;
    .information{
      width: 60%;
      font-size: .5em;

    }

  }
}
@media only screen and (max-width: 480px){
  .profile{
    border-radius: 0;
  }
  img{
display: none;
  }
  .information{
    min-width: 100%;
    font-size: .5em;

  }
}
