<div class="header"><p>About me</p></div>
<hr style="height: 5px; background-color: black">

<div class="content"> <span>I am an ambitious and promising
front end developer. Ready to
develop and achieve something
more</span></div>

<div class="header"><p>Interests</p></div>
<hr style="height: 5px; background-color: black">

<div class="content"> <span> I like football. My favourite team is Leicester City. I'm also play
football for ten years. As well, I really like traveling, so far, I have
visited 5 countries: Slovakia, Poland, Bulgaria, Spain and Italy</span></div>
