.politeh {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/assets/img/politeh.jpg') no-repeat;
  background-size: cover;
}
.logos{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/assets/img/logos.jpg') no-repeat;
  background-size: cover;
}
