.politeh {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/assets/img/politeh.jpg') no-repeat;
  background-size: cover;
}
.logos{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/assets/img/logos.jpg') no-repeat;
  background-size: 100%;
}
@media only screen and (max-width: 1200px){
  .logos {
    p{
      display: block;
      margin-bottom: 55%;
    }

  }
}


