.nav{
  margin-left: 27%;
  margin-top: 30px;
  width: 50%;
}
ul {
  display: flex;
  justify-content: space-around;

}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: black;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}
ul li a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: black;
  transition: 0.5s;
}
ul li a:hover {
  color: #fff;
}
ul li a:hover::before {
  animation: animate .5s linear forwards;
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
#menu-checkbox{
  display: none;
}

@media only screen and (max-width: 1200px){
 .nav {
   width: 70%;
   margin-left: 20%;
 }
}
@media only screen and (max-width: 900px) {
  .nav {
    width: 100%;
margin-left: 0;
  }
}
@media only screen and (max-width: 768px){

  .nav{

  }
  ul li a{
    font-size: 1em;
  }
}
@media only screen and (max-width: 540px) {
  .main-menu{
display: none;
  }
  .main-menu{
    li{
      width: 80%;
      display: block;
      margin-left: 45%;
    }
    a{
      display: block;
      padding: 8px;
    }
  }
  .toggle-button{
    text-align: center;
    display: block;
    width: 50%;
    margin-left: 50%;
    cursor: pointer;
    &:after{
      content: attr(data-open);
      display: block;
    }

  }
#menu-checkbox:checked + .nav[role="navigation"] .main-menu{
  display: block;
}
  #menu-checkbox:checked + .nav[role="navigation"] .toggle-button:after{
    content: attr(data-close);
  }
.main-menu{
margin-right: 39%;

  li{
    text-align: center;
  }
}
}
